*~
*.DS_Store

# XCode
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
*.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint

# VSCode
.vscode/*

# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1
p44mbcd
ABOUT-NLS
ChangeLog
NEWS

# binaries
p44featured

# openwrt USE_SRCDIR debris specifics
.quilt_checked
.source_dir
.prepared
.built
.built_check
.configured_*
.pkgdir/
config.rpath
ipkg-*/
