[submodule "p44featured/src/p44utils"]
	path = src/p44utils
	url = ../p44utils.git
	branch = leth
[submodule "p44featured/src/p44lrgraphics"]
	path = src/p44lrgraphics
	url = ../p44lrgraphics.git
	branch = luz
[submodule "p44featured/src/p44features"]
	path = src/p44features
	url = ../p44features.git
	branch = master
